<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>animation/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{189, 78}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/10.png</key>
		<dict>
			<key>frame</key>
			<string>{{63, 771}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/100.png</key>
		<dict>
			<key>frame</key>
			<string>{{493, 790}, {60, 48}}</string>
			<key>offset</key>
			<string>{1, -14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 27}, {60, 48}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/101.png</key>
		<dict>
			<key>frame</key>
			<string>{{249, 771}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/102.png</key>
		<dict>
			<key>frame</key>
			<string>{{313, 232}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/103.png</key>
		<dict>
			<key>frame</key>
			<string>{{311, 771}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/104.png</key>
		<dict>
			<key>frame</key>
			<string>{{375, 155}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/105.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 386}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/106.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 925}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/107.png</key>
		<dict>
			<key>frame</key>
			<string>{{65, 155}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/108.png</key>
		<dict>
			<key>frame</key>
			<string>{{63, 925}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/109.png</key>
		<dict>
			<key>frame</key>
			<string>{{127, 309}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/11.png</key>
		<dict>
			<key>frame</key>
			<string>{{311, 540}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/110.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 848}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/111.png</key>
		<dict>
			<key>frame</key>
			<string>{{65, 78}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/112.png</key>
		<dict>
			<key>frame</key>
			<string>{{63, 694}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/113.png</key>
		<dict>
			<key>frame</key>
			<string>{{127, 232}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/114.png</key>
		<dict>
			<key>frame</key>
			<string>{{125, 694}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/115.png</key>
		<dict>
			<key>frame</key>
			<string>{{189, 1}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/116.png</key>
		<dict>
			<key>frame</key>
			<string>{{187, 463}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/117.png</key>
		<dict>
			<key>frame</key>
			<string>{{251, 1}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/118.png</key>
		<dict>
			<key>frame</key>
			<string>{{249, 463}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/119.png</key>
		<dict>
			<key>frame</key>
			<string>{{249, 925}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/12.png</key>
		<dict>
			<key>frame</key>
			<string>{{189, 155}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/120.png</key>
		<dict>
			<key>frame</key>
			<string>{{187, 617}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/13.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 771}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/14.png</key>
		<dict>
			<key>frame</key>
			<string>{{249, 694}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/15.png</key>
		<dict>
			<key>frame</key>
			<string>{{125, 463}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/16.png</key>
		<dict>
			<key>frame</key>
			<string>{{375, 1}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/17.png</key>
		<dict>
			<key>frame</key>
			<string>{{187, 771}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/18.png</key>
		<dict>
			<key>frame</key>
			<string>{{65, 309}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/19.png</key>
		<dict>
			<key>frame</key>
			<string>{{313, 155}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{311, 617}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/20.png</key>
		<dict>
			<key>frame</key>
			<string>{{375, 78}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/21.png</key>
		<dict>
			<key>frame</key>
			<string>{{187, 694}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/22.png</key>
		<dict>
			<key>frame</key>
			<string>{{65, 232}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/23.png</key>
		<dict>
			<key>frame</key>
			<string>{{313, 78}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/24.png</key>
		<dict>
			<key>frame</key>
			<string>{{125, 925}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/25.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 540}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/26.png</key>
		<dict>
			<key>frame</key>
			<string>{{251, 309}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/27.png</key>
		<dict>
			<key>frame</key>
			<string>{{127, 1}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/28.png</key>
		<dict>
			<key>frame</key>
			<string>{{311, 694}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/29.png</key>
		<dict>
			<key>frame</key>
			<string>{{189, 232}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{63, 848}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/30.png</key>
		<dict>
			<key>frame</key>
			<string>{{251, 232}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/31.png</key>
		<dict>
			<key>frame</key>
			<string>{{125, 386}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/32.png</key>
		<dict>
			<key>frame</key>
			<string>{{311, 848}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/33.png</key>
		<dict>
			<key>frame</key>
			<string>{{189, 309}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/34.png</key>
		<dict>
			<key>frame</key>
			<string>{{63, 386}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/35.png</key>
		<dict>
			<key>frame</key>
			<string>{{249, 848}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/36.png</key>
		<dict>
			<key>frame</key>
			<string>{{125, 540}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/37.png</key>
		<dict>
			<key>frame</key>
			<string>{{375, 232}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/38.png</key>
		<dict>
			<key>frame</key>
			<string>{{187, 848}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/39.png</key>
		<dict>
			<key>frame</key>
			<string>{{63, 540}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/4.png</key>
		<dict>
			<key>frame</key>
			<string>{{251, 155}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/40.png</key>
		<dict>
			<key>frame</key>
			<string>{{125, 617}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/41.png</key>
		<dict>
			<key>frame</key>
			<string>{{375, 309}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/42.png</key>
		<dict>
			<key>frame</key>
			<string>{{249, 386}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/43.png</key>
		<dict>
			<key>frame</key>
			<string>{{63, 617}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/44.png</key>
		<dict>
			<key>frame</key>
			<string>{{311, 463}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/45.png</key>
		<dict>
			<key>frame</key>
			<string>{{187, 386}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/46.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 617}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/47.png</key>
		<dict>
			<key>frame</key>
			<string>{{249, 540}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/48.png</key>
		<dict>
			<key>frame</key>
			<string>{{127, 78}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/49.png</key>
		<dict>
			<key>frame</key>
			<string>{{373, 386}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 463}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/50.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 694}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/51.png</key>
		<dict>
			<key>frame</key>
			<string>{{249, 617}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/52.png</key>
		<dict>
			<key>frame</key>
			<string>{{127, 155}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/53.png</key>
		<dict>
			<key>frame</key>
			<string>{{311, 925}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/54.png</key>
		<dict>
			<key>frame</key>
			<string>{{187, 540}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/55.png</key>
		<dict>
			<key>frame</key>
			<string>{{65, 1}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/56.png</key>
		<dict>
			<key>frame</key>
			<string>{{313, 1}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/57.png</key>
		<dict>
			<key>frame</key>
			<string>{{125, 771}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/58.png</key>
		<dict>
			<key>frame</key>
			<string>{{373, 463}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/59.png</key>
		<dict>
			<key>frame</key>
			<string>{{251, 78}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/6.png</key>
		<dict>
			<key>frame</key>
			<string>{{125, 848}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/60.png</key>
		<dict>
			<key>frame</key>
			<string>{{311, 386}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/61.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 78}, {62, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6, 0}, {62, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/62.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 309}, {62, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6, 0}, {62, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/63.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 155}, {62, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6, 0}, {62, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/64.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {62, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6, 0}, {62, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/65.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 232}, {62, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6, 0}, {62, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/66.png</key>
		<dict>
			<key>frame</key>
			<string>{{435, 386}, {70, 58}}</string>
			<key>offset</key>
			<string>{1, -6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 14}, {70, 58}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/67.png</key>
		<dict>
			<key>frame</key>
			<string>{{373, 612}, {70, 58}}</string>
			<key>offset</key>
			<string>{1, -6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 14}, {70, 58}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/68.png</key>
		<dict>
			<key>frame</key>
			<string>{{433, 684}, {70, 58}}</string>
			<key>offset</key>
			<string>{1, -6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 14}, {70, 58}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/69.png</key>
		<dict>
			<key>frame</key>
			<string>{{373, 828}, {70, 58}}</string>
			<key>offset</key>
			<string>{1, -6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 14}, {70, 58}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/7.png</key>
		<dict>
			<key>frame</key>
			<string>{{313, 309}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/70.png</key>
		<dict>
			<key>frame</key>
			<string>{{433, 540}, {70, 58}}</string>
			<key>offset</key>
			<string>{1, -6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 14}, {70, 58}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/71.png</key>
		<dict>
			<key>frame</key>
			<string>{{497, 1}, {68, 60}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 8}, {68, 60}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/72.png</key>
		<dict>
			<key>frame</key>
			<string>{{495, 423}, {68, 60}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 8}, {68, 60}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/73.png</key>
		<dict>
			<key>frame</key>
			<string>{{437, 283}, {68, 60}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 8}, {68, 60}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/74.png</key>
		<dict>
			<key>frame</key>
			<string>{{559, 1}, {68, 60}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 8}, {68, 60}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/75.png</key>
		<dict>
			<key>frame</key>
			<string>{{495, 353}, {68, 60}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 8}, {68, 60}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/76.png</key>
		<dict>
			<key>frame</key>
			<string>{{437, 143}, {68, 60}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 6}, {68, 60}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/77.png</key>
		<dict>
			<key>frame</key>
			<string>{{499, 71}, {68, 60}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 6}, {68, 60}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/78.png</key>
		<dict>
			<key>frame</key>
			<string>{{493, 530}, {68, 60}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 6}, {68, 60}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/79.png</key>
		<dict>
			<key>frame</key>
			<string>{{437, 73}, {68, 60}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 6}, {68, 60}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/8.png</key>
		<dict>
			<key>frame</key>
			<string>{{63, 463}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/80.png</key>
		<dict>
			<key>frame</key>
			<string>{{437, 213}, {68, 60}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 6}, {68, 60}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/81.png</key>
		<dict>
			<key>frame</key>
			<string>{{433, 828}, {70, 58}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 8}, {70, 58}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/82.png</key>
		<dict>
			<key>frame</key>
			<string>{{373, 900}, {70, 58}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 8}, {70, 58}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/83.png</key>
		<dict>
			<key>frame</key>
			<string>{{373, 540}, {70, 58}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 8}, {70, 58}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/84.png</key>
		<dict>
			<key>frame</key>
			<string>{{433, 612}, {70, 58}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 8}, {70, 58}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/85.png</key>
		<dict>
			<key>frame</key>
			<string>{{373, 756}, {70, 58}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 8}, {70, 58}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/86.png</key>
		<dict>
			<key>frame</key>
			<string>{{433, 900}, {70, 58}}</string>
			<key>offset</key>
			<string>{1, -4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 12}, {70, 58}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/87.png</key>
		<dict>
			<key>frame</key>
			<string>{{435, 458}, {70, 58}}</string>
			<key>offset</key>
			<string>{1, -4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 12}, {70, 58}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/88.png</key>
		<dict>
			<key>frame</key>
			<string>{{373, 684}, {70, 58}}</string>
			<key>offset</key>
			<string>{1, -4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 12}, {70, 58}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/89.png</key>
		<dict>
			<key>frame</key>
			<string>{{433, 756}, {70, 58}}</string>
			<key>offset</key>
			<string>{1, -4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 12}, {70, 58}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/9.png</key>
		<dict>
			<key>frame</key>
			<string>{{187, 925}, {60, 75}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 0}, {60, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/90.png</key>
		<dict>
			<key>frame</key>
			<string>{{437, 1}, {70, 58}}</string>
			<key>offset</key>
			<string>{1, -4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 12}, {70, 58}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/91.png</key>
		<dict>
			<key>frame</key>
			<string>{{499, 269}, {62, 60}}</string>
			<key>offset</key>
			<string>{0, -8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 15}, {62, 60}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/92.png</key>
		<dict>
			<key>frame</key>
			<string>{{499, 141}, {62, 60}}</string>
			<key>offset</key>
			<string>{0, -8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 15}, {62, 60}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/93.png</key>
		<dict>
			<key>frame</key>
			<string>{{493, 600}, {62, 60}}</string>
			<key>offset</key>
			<string>{0, -8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 15}, {62, 60}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/94.png</key>
		<dict>
			<key>frame</key>
			<string>{{499, 205}, {62, 60}}</string>
			<key>offset</key>
			<string>{0, -8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 15}, {62, 60}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/95.png</key>
		<dict>
			<key>frame</key>
			<string>{{493, 664}, {62, 60}}</string>
			<key>offset</key>
			<string>{0, -8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 15}, {62, 60}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/96.png</key>
		<dict>
			<key>frame</key>
			<string>{{493, 728}, {60, 48}}</string>
			<key>offset</key>
			<string>{1, -14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 27}, {60, 48}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/97.png</key>
		<dict>
			<key>frame</key>
			<string>{{373, 972}, {60, 48}}</string>
			<key>offset</key>
			<string>{1, -14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 27}, {60, 48}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/98.png</key>
		<dict>
			<key>frame</key>
			<string>{{493, 852}, {60, 48}}</string>
			<key>offset</key>
			<string>{1, -14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 27}, {60, 48}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>animation/99.png</key>
		<dict>
			<key>frame</key>
			<string>{{435, 972}, {60, 48}}</string>
			<key>offset</key>
			<string>{1, -14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 27}, {60, 48}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>animation.png</string>
	</dict>
</dict>
</plist>
